/* Styling for the Card component */

/* 
    Formatted with Stylelint https://stylelint.io/user-guide/get-started
    Reference '.stylelintrc.json' for rules 
*/

/* 
    Blocks    [block] 
    Elements  [block]__[element] 
    Modifiers [block]--[modifier]

    https://en.bem.info/methodology/quick-start/
*/

.content-row-line {
  border: 0;
  border-top: 1px solid silver;
  display: block;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 948px;
}

.content-row {
  display: grid;
  gap: 24px 24px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  margin: 0 auto;
  max-width: 948px;
}
