/* Styling for the Card component */

/* 
    Formatted with Stylelint https://stylelint.io/user-guide/get-started
    Reference '.stylelintrc.json' for rules 
*/

/* 
    Blocks    [block] 
    Elements  [block]__[element] 
    Modifiers [block]--[modifier]

    https://en.bem.info/methodology/quick-start/
*/

.content-row-line {
    width: 948px;
    margin: 0 auto;
    margin-bottom: 24px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid silver;
}

.content-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    column-gap: 24px;
    row-gap: 24px;
    max-width: 948px;
    margin: 0 auto;
}
