/* Styling for the Card component */

/* 
    Blocks    [block] 
    Elements  [block]__[element] 
    Modifiers [block]--[modifier]

    https://en.bem.info/methodology/quick-start/
*/

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    column-gap: 24px;
    row-gap: 24px;
    max-width: 948px;
    margin: 0 auto;
  }
  
.card {
    height: 438px;
    width: 300px;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
    font-family: sans-serif, Arial, Helvetica;
}

.card__title {
    font-size: large;
}

.card__description {
    font-size: medium;
    color: #546E7A;
}
