/**
 * Styling for the Intro component
 *
 */

/* 
    Blocks    [block] 
    Elements  [block]__[element] 
    Modifiers [block]--[modifier]

    https://en.bem.info/methodology/quick-start/
*/

.intro {
  text-align: center;
  font-family: sans-serif, Arial, Helvetica;
}

.intro__title {
  font-size: 30px;
}

.intro__subtitle {
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  color: #546e7a;
}
