/**
 * Blocks    [block] 
 *     Elements  [block]__[element] 
 *     Modifiers [block]--[modifier]
 * 
 *     https://en.bem.info/methodology/quick-start/
 *
 */

:root {
  background-color: #242424;
  color: rgb(255 255 255 / 0.87);
  color-scheme: light dark;
}
